{% extends "base.html" %}
{% comment %} Code based on template from https://docs.djangoproject.com/en/3.1/topics/auth/default/ {% endcomment %}
{% block page %}
<center>
<h1> Register for account </h1>
{% if form.errors %}
    <h2> Error </h2>
    <p>{{ form.errors.username }}</p>
    <p>{{ form.errors.password2 }}</p>
{% endif %}
<p>Your password should be a mix of 8 letters and numbers and not contain your username or profile name</p>
<form enctype="multipart/form-data" method="post" action="{% url 'register' %}">
{% csrf_token %}
<table>
<tr>
    <td>{{ form.username.label_tag }}</td>
    <td>{{ form.username }}</td>
</tr>
<tr>
    <td>{{ form.password1.label_tag }}</td>
    <td>{{ form.password1 }}</td>
</tr>
<tr>
    <td>{{ form.password2.label_tag }}</td>
    <td>{{ form.password2 }}</td>
</tr>
<tr>
    <td>{{ form.profile_name.label_tag }}</td>
    <td>{{ form.profile_name }}</td>
</tr>
<tr>
    <td>{{ form.profile_pic.label_tag }}</td>
    <td>{{ form.profile_pic }}</td>
</tr>
</table>

<input type="submit" value="Register">
</form>
</center>
<hr>
{% endblock %}