<!doctype html>
<html>
<head>
<title>{% block title %}Ramenia{% endblock %}</title>
{% load static %}
<link rel="stylesheet" href="{% static "bootstrap-4.4.1-dist/css/bootstrap.min.css" %}">
<link rel="stylesheet" href="{% static "custom.css" %}">
<script src="{% static "js/jquery-3.5.1.min.js" %}"></script>
<script src="{% static "bootstrap-4.4.1-dist/js/bootstrap.bundle.min.js" %}"></script>

{% block head_aux %}{% endblock %}

</head>
{% comment %} Code from Django docs https://docs.djangoproject.com/en/3.1/ref/contrib/messages/ {% endcomment %}
<body>
{% block nav %}
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            <div class="alert alert-dismissible {{ message.tags }}">
        {% else %}
            <div class="alert alert-dismissible alert-warning">
        {% endif %}
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
                <h4 class="alert-heading">Success!</h4>
            {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                <h4 class="alert-heading">Error!</h4>
            {% endif %}
            <p class="mb-0">{{ message }}</p>
        </div>
    {% endfor %}
{% endif %}
{% load moderator %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <a class="navbar-brand" href="/">Ramenia</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>

            {% url 'search' as search_link%}
            <li class="nav-item">
                <a class="nav-link" href="{{search_link}}">Search</a>
            </li>

            {% if not user.is_authenticated %}
                {% url 'login' as login_link%}
                <li class="nav-item">
                    <a class="nav-link" href="{{login_link}}?next={{request.path}}">Login</a>
                </li>
                {% url 'register' as register_link%}
                <li class="nav-item">
                    <a class="nav-link" href="{{register_link}}">Signup</a>
                </li>
            {% else %}
                {% url 'profile' user.id as profile_link%}
                <li class="nav-item">
                    <a class="nav-link" href="{{profile_link}}">My Profile</a>
                </li>
                {% url 'user_lists' user.id as lists_link%}
                <li class="nav-item">
                    <a class="nav-link" href="{{lists_link}}">My Lists</a>
                </li>
                {% url 'notifications' as notifications_link%}
                <li class="nav-item">
                    <a class="nav-link" href="{{notifications_link}}">My Feed</a>
                </li>
                {% url 'add_noodle' as ramen_link%}
                <li class="nav-item">
                    <a class="nav-link" href="{{ramen_link}}">Add New Noodle</a>
                </li>
                {% if user|is_mod %}
                    {% url 'moderator' as mod_link%}
                    <li class="nav-item">
                        <a class="nav-link" href="{{mod_link}}">Moderation</a>
                    </li>
                {% endif %}
                {% url 'change_password' as change_password_link%}
                <li class="nav-item">
                    <a class="nav-link" href={{change_password_link}}>Settings</a>
                </li> 
                {% url 'logout' as logout_link%}
                <li class="nav-item">
                    <a class="nav-link" href={{logout_link}}>Logout</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>
{% endblock %}
{% block page %}

{% endblock %}
</body>
</html>
