{% extends "base.html" %}
{% block page %}
{% comment %} Just a page of links {% endcomment %}
<h4> Edits </h4>
{% url 'all_edits' as edits_page%}
<p><a href={{edits_page}}>View All Edits</a></p>
{% url 'new_noodles' as new_page%}
<p><a href={{new_page}}>View New Submissions Only</a></p>

<h4> Reports </h4>
{% url 'review_reports' as review_reports %}
{% url 'profile_reports' as profile_reports %}
{% url 'noodle_reports' as noodle_reports %}

<p><a href={{review_reports}}>Reported Reviews</a></p>
<p><a href={{profile_reports}}>Reported Profiles</a></p>
<p><a href={{noodle_reports}}>Reported Noodles</a></p>

{% endblock %}
