{% extends "base.html" %}
{% block head_aux %}

<script>

$(document).ready(function(){
    // query the notifications API
    $.ajax({
        type: 'GET',
        url: "/app/api/notifications/1",
        statusCode: {
            200: function(res){
                console.log("got results");
                // handle no results case
                if (res.length == 0) {
                    // set error text visibility and content
                    $("#error-text").removeClass("d-none");
                    $("#error-text").html("You have no notifications");
                } else { // else add the items
                    // set error to be hidden
                    $("#error-text").addClass("d-none");
                    $("#resultList").html("");
                    
                    // template for result item
                    var itemTemplate = $("#itemTemplate").html();
                    res.forEach(function(item){
                        // find main image
                        var main_img = item.noodle.images[0].image
                        item.noodle.images.forEach(function(img){
                            if (img.main) {
                                main_img = img.image;
                            }
                        });
                        
                        // create new instance of the template
                        var $item = $(itemTemplate);

                        // populate template params
                        $item.find("img[data-template='itemImg']").attr("src",main_img);
                        $item.find("a[data-template='noodleTitle']").text(item.noodle.name);
                        $item.find("a[data-template='noodleTitle']").attr("href", "/app/noodle/" + item.noodle.id);
                        $item.find("a[data-template='reviewer']").text(item.reviewer.profile.name);
                        $item.find("a[data-template='reviewer']").attr("href", "/app/user/" + item.reviewer.id);
                        $item.find("span[data-template='rating']").text(item.rating);
                        $item.find("a[data-template='reviewTitle']").text(item.title);
                        $item.find("a[data-template='reviewTitle']").attr("href", "/app/noodle/" + item.noodle.id + "?focusReview=" + item.id);
                        $item.find("span[data-template='reviewCreated']").text(item.created);
                        
                        // add item to results list
                        $("#resultList").append($item);
                        console.log(item)
                    });
                }
            },

            // handle error case
            403: function(){
                $("#error-text").removeClass("d-none");
                $("#error-text").html("Error retrieving notifications");
            }
        }
    });
});
</script>

<template id="itemTemplate">
    <li class="media mt-2">
        <a href="#">
            <img data-template="itemImg" class="img-fluid img-thumbnail mr-3" style="height: 6em;" src="">
        </a>
        <div class="media-body">
            <strong>Review of <a data-template="noodleTitle"></a> by <a data-template="reviewer" href="#"></a></strong><br />
            <small><span data-template="rating"></span> stars</small> <br />
            <a data-template="reviewTitle"></a><br />
            <small>Posted: <span data-template="reviewCreated"></span></small>
        </div>
    </li>
</template>

{% endblock %}
{% block page %}

<div class="container">

<h2>My Feed</h2>

<small id="error-text" class="d-none">Error!</small>

<ul id="resultList" class="list-unstyled">

</ul>


</div>
{% endblock %}

