{% extends "base.html" %}
{% block head_aux %}

<script>
$(document).ready(function(){
        $.ajax({
            type: 'GET',
            url: "/app/api/notifications/1",
            statusCode: {
                200: function(res){
                    console.log("got results");
                    if (res.length == 0) {
                        $("#error-text").removeClass("d-none");
                        $("#error-text").html("You have no notifications");
                    } else {
                        $("#error-text").addClass("d-none");
                        $("#resultList").html("");
                        
                        var itemTemplate = $("#itemTemplate").html();
                        res.forEach(function(item){
                            var main_img = item.noodle.images[0].image
                            item.noodle.images.forEach(function(img){
                                if (img.main) {
                                    main_img = img.image;
                                }
                            });
                            var $item = $(itemTemplate);
                            $item.find("img[data-template='itemImg']").attr("src",main_img);
                            $item.find("a[data-template='noodleTitle']").text(item.noodle.name);
                            $item.find("a[data-template='noodleTitle']").attr("href", "/app/noodle/" + item.noodle.id);
                            $item.find("a[data-template='reviewer']").text(item.reviewer.profile.name);
                            $item.find("a[data-template='reviewer']").attr("href", "/app/user/" + item.reviewer.id);
                            $item.find("span[data-template='rating']").text(item.rating);
                            $item.find("p[data-template='reviewTitle']").text(item.title);
                            

                            $("#resultList").append($item);
                            console.log(item)
                        });
                    }
                },
                403: function(){
                    $("#error-text").removeClass("d-none");
                    $("#error-text").html("Error retrieving notifications");
                }
            }
        });
});
</script>

<template id="itemTemplate">
    <li class="media">
        <a href="#">
            <img data-template="itemImg" class="img-fluid img-thumbnail mr-3" style="height: 6em;" src="">
        </a>
        <div class="media-body">
            <strong>Review of <a data-template="noodleTitle"></a> by <a data-template="reviewer" href="#"></a></strong><br />
            <small><span data-template="rating"></span> stars</small>
            <p data-template="reviewTitle"></a>
        </div>
    </li>
</template>

{% endblock %}
{% block page %}

<div class="container">

<h2>My Feed</h2>

<small id="error-text" class="d-none">Error!</small>

<ul id="resultList" class="list-unstyled">

</ul>


</div>
{% endblock %}

