{% extends "base.html" %}
{% block head_aux %}

{% if user.is_authenticated %}
<script>
$(document).ready(function(){
    $.ajax({
        type: 'get',
        url: "{% url 'user_lists_rest' user.id %}",
        success: function(result) {
            for (i in result){
                var new_item = "<a class=\"listAddEntry dropdown-item\" data-list-id=\"" + result[i].id + "\">" + result[i].name + "</a>";
                $("#listAddDropdown").append(new_item);
                console.log(result[i]);
            }
        }
    });

    $(document).delegate('.listAddEntry','click',function(){
        $.ajax({
            type: 'put',
            url: "/app/api/list/" + $(this).data("list-id") + "/" + "{{ noodle.id }}",
            success: function(){
                console.log("added ramen");
                $("#actionsSection").append("<p>Added</p>");
            }
        });
    }); 
});
</script>
{% endif %}

<script>
function allReviews() {
    $.ajax({
        type: 'GET',
        url: "/app/api/reviews/{{ noodle.id }}",
        statusCode: {
            200: function(res){
                console.log("got results");
                if (res.length == 0) {
                    $("#error-text").removeClass("d-none");
                    $("#error-text").html("There are no reviews");
                } else {
                    $("#error-text").addClass("d-none");
                    $("#showAllReviews").addClass("d-none");
                    $("#reviewList").html("");
                    
                    var itemTemplate = $("#reviewTemplate").html();
                    res.forEach(function(item){
                        var $item = $(itemTemplate);
                        $item.find("img[data-template='reviewerImg']").attr("src",item.reviewer.profile.profile_pic);
                        $item.find("li[data-template='reviewItem']").attr("href", "/app/user/" + item.reviewer.id);
                        $item.find("a[data-template='reviewerName']").text(item.reviewer.profile.name);
                        $item.find("a[data-template='reviewerName']").attr("href", "/app/user/" + item.reviewer.id);
                        $item.find("a[data-template='reviewTitle']").text(item.title);
                        $item.find("a[data-template='reviewTitle']").attr("href", "/app/noodle/{{noodle.id}}?focusReview=" + item.id);
                        $item.find("span[data-template='rating']").text(item.rating);
                        $item.find("p[data-template='reviewBody']").text(item.body);
                        $item.find("span[data-template='reviewTime']").text(item.created);

                        if (item.images.length != 0) {
                            $item.find("div[data-template='reviewImages']").removeClass("d-none");
                        }
                        item.images.forEach(function (item){
                            $item.find("div[data-template='reviewImages']").append(
                                "<a href=\"" + item.image + "\"><img src=\"" + item.image +"\" height=\"150\"></a>" 
                            );
                        });
                        

                        $("#reviewList").append($item);
                        console.log(item)
                    });
                }
            },
            403: function(){
                $("#error-text").removeClass("d-none");
                $("#error-text").html("Error retrieving notifications");
            }
        }
    });
}

function focusReview(review_id) {
    $.ajax({
        type: 'GET',
        url: "/app/api/review/" + review_id,
        statusCode: {
            200: function(res){
                console.log("got results");
                if (!res) {
                    $("#error-text").removeClass("d-none");
                    $("#error-text").html("Not a valid review");
                } else {
                    $("#error-text").addClass("d-none");
                    $("#reviewList").html("");
                    
                    var itemTemplate = $("#reviewTemplate").html();
                        var $item = $(itemTemplate);
                        $item.find("img[data-template='reviewerImg']").attr("src",res.reviewer.profile.profile_pic);
                        $item.find("li[data-template='reviewItem']").attr("href", "/app/user/" + res.reviewer.id);
                        $item.find("a[data-template='reviewerName']").text(res.reviewer.profile.name);
                        $item.find("a[data-template='reviewerName']").attr("href", "/app/user/" + res.reviewer.id);
                        $item.find("a[data-template='reviewTitle']").text(res.title);
                        $item.find("a[data-template='reviewTitle']").attr("href", "/app/noodle/{{noodle.id}}?focusReview=" + res.id);
                        $item.find("span[data-template='rating']").text(res.rating);
                        $item.find("p[data-template='reviewBody']").text(res.body);
                        $item.find("span[data-template='reviewTime']").text(res.created);

                        if (res.images.length != 0) {
                            $item.find("div[data-template='reviewImages']").removeClass("d-none");
                        }
                        res.images.forEach(function (item){
                            $item.find("div[data-template='reviewImages']").append(
                                "<a href=\"" + item.image + "\"><img src=\"" + item.image +"\" height=\"150\"></a>" 
                            );
                        });
                        

                        $("#reviewList").append($item);
                        console.log(res)
                        $("#showAllReviews").removeClass("d-none");

                        document.querySelector('#reviewList').scrollIntoView({});
                }
            },
            403: function(){
                $("#error-text").removeClass("d-none");
                $("#error-text").html("Error retrieving notifications");
            }
        }
    });
}

$(document).ready(function(){
    function getUrlVars()
    {
        var vars = [], hash;
        var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
        for(var i = 0; i < hashes.length; i++)
        {
            hash = hashes[i].split('=');
            vars.push(hash[0]);
            vars[hash[0]] = hash[1];
        }
        return vars;
    }
    
    var urlVars = getUrlVars();
    if (urlVars.focusReview) {
        focusReview(urlVars.focusReview)
    } else if (urlVars.scrollToReviews) {
        document.querySelector('#reviewList').scrollIntoView({});
        allReviews();
    } else {
        allReviews();
    }
});
</script>

<template id="reviewTemplate">
    <li class="media mt-2">
        <a data-template="reviewItem" href="#">
            <img data-template="reviewerImg" class="img-fluid img-thumbnail mr-3" style="height: 6em;" src="">
        </a>
        <div class="media-body">
            <strong><a data-template="reviewerName"></a> says <a data-template="reviewTitle"></a></strong><br />
            <small>Rated <span data-template="rating"></span> stars</small>
            <p data-template="reviewBody"></p>
            <div data-template="reviewImages" class="d-none"></div>
            <small>Posted: <span data-template="reviewTime"></span></small>
        </div>
    </li>
</template>

{% endblock %}
{% block page %}
<div class="container">
<h1>{{noodle.name}}</h1>

<h3>
    {% url 'edit_ramen' noodle.id as edit_link %}
    <a href="{{edit_link}}">Edit Noodle</a>
</h3>

<div id="carouselControls" class="carousel slide" data-ride="carousel" style="width: 100%; max-width: 30em; !important">
    <div class="carousel-inner">
        {%for image_obj in noodle.noodleimage_set.all%}
        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
            <img class="d-block w-100" src="{{ MEDIA_URL }}{{ image_obj.image.name }}">
        </div>
        {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<h2>Information</h2>
<table class="table">
    <tbody>
        {% for key, value in noodle.metadata.items %}
        <tr>
            <td>{{key}}</td>
            <td>{{value}}</td>
        </tr>
        {% endfor %}

        <tr>
            <td>Rating</td>
            <td>{{avg_rating}} stars from {{noodle.review_set.all|length}} ratings</td>
        </tr>

        <tr>
            <td>Tags</td>
            <td>
            {% for tag in noodle.tags.all %}
                <a href="{% url 'search' %}?tags={{tag.name}}">
                    <span class="badge badge-info">{{tag.name}}</span>
                </a>
            {% endfor %}
            </td>
    </tbody>
</table>

{% if user.is_authenticated %}
<h2>Actions</h2>
<div id="actionsSection">
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" 
            id="listsMenuButton" data-toggle="dropdown" aria-haspopups="true" aria-expanded="false"
            >Add to list</button>
    <div id="listAddDropdown" class="dropdown-menu" aria-labelledby="listsMenuButton">
    </div>
</div>
</div>
{% url 'noodle_report' noodle.id as report_link%}
<a class="btn btn-danger" href={{report_link}} role="button">Report</a>
<hr />
{% endif %}

<h2>Reviews</h2>
<small id="error-text" class="d-none">Error!</small>
<a id="showAllReviews" href="{% url 'noodle' noodle.id %}?scrollToReviews=1" class="d-none">Show All Reviews</a>
<ul id="reviewList" class="list-unstyled">

</ul>

<h4>Add Review</h4>

<form enctype="multipart/form-data" method="post" action="{% url 'review_ramen' noodle.id %}">
    {% csrf_token %}
    <table>
    <tr>
        <td>{{ form.title.label_tag }}</td>
        <td>{{ form.title }}</td>
    </tr>
    <tr>
        <td>{{ form.body.label_tag }}</td>
        <td>{{ form.body }}</td>
    </tr>
    <tr>
        <td>{{ form.rating.label_tag }}</td>
        <td>{{ form.rating }}</td>
    </tr>
    <tr>
        <td>{{ form.image.label_tag }}</td>
        <td>{{ form.image }}</td>
    </tr>
    </table>
    {% if request.user.is_authenticated %}
        <input type="submit" value="Add Review">
    {% else %}
        {% url 'login' as login_link%}
        <a class="btn btn-primary" href="{{login_link}}?next={{request.path}}" role="button">Login to Review</a>
    {% endif %}
    </form>


</div>

{% endblock %}


