{% extends "base.html" %}
{% block page %}
{% for report in reports %}
    {% if report.type == "RV" %}
        <p>{{ report.review }}</p>
    {% elif report.type == "ND" %}
        <p>{{ report.noodle }}</p>
    {% elif report.type == "PF" %}
        <p>{{ report.profile }}</p>
    {% endif %}
{% endfor %}

{% comment %} {% for report in reports %}
<ul class="list-unstyled">
<li class="media">
    <a href="{% url 'noodle' noodle.id %}">
        <img class="img-fluid img-thumbnail mr-3" style="height: 6em;" src="{{MEDIA_URL}}{{ image.image.name }}">
    </a>
    <div class="media-body">
        <a href="{% url 'noodle' noodle.id %}">
            <h5 class="mt-0">{{ noodle.name }}</h5>
        </a>
        Rating: {{ score }}/5 from {{noodle.review_set.all|length}} ratings <br />
        {% for tag in noodle.tags.all %}
            <span class="badge badge-info">{{tag.name}}</span>
        {% endfor %}

        {% if user.is_authenticated and user.id == listinfo.user.id %}
        <br />
        <button type="button" data-noodle-id="{{noodle.id}}"
                class="entry-remove btn btn-danger btn-sm">Remove</button>
        {% endif %}
    </div>
</li>
</ul>
{% endfor %} {% endcomment %}

{% endblock %}
