{% extends "base.html" %}
{% block page %}
{% load get_creator %}
<center>
<h1>Reported {{ item_type }}</h1>
<ul class="list-group">
    {% for report in reports %}
    <li class="list-group-item">
        <p> Report #{{ report.id }}:
        {% if report.type == "RV" %}
            {% url 'noodle' report.review.noodle.id as review_link %}
            <a href={{review_link}}>{{ report.review.title }}</a>
        {% elif report.type == "ND" %}
            {% url 'noodle' report.noodle.id as noodle_link %}
            <a href={{noodle_link}}>{{ report.noodle.name }}</a>
        {% elif report.type == "PF" %}
            {% url 'profile' report.profile.user.id as profile_link %}
            <a href={{profile_link}}>{{ report.profile.name }}</a>
        {% endif %}
        </p>
        <span class="badge badge-primary badge-pill">{{ report.get_reason_display }}</span>
        <span class="badge badge-primary badge-pill">{{ report.get_status_display }}</span>
        {% comment %} TODO: Why are you like this bootstrap {% endcomment %}
        <div class="container-fluid">
            <div class="col-xs-1">
                {% url 'update_report_status' report.id 'ED' as resolved_link %}
                <form name="resolve_report" method="post" action="{{ resolved_link }}">
                    {% csrf_token %}
                    <input class="btn btn-success" type="submit" value="Mark Resolved">
                </form>
            </div>
                        
            {% if report.type == "ND" %}
                <div class="col-xs-1">
                    {% url 'edit_ramen' report.noodle.id as edit_link %}
                    <form name="edit_link" method="post" action="{{ edit_link }}">
                        {% csrf_token %}
                        <input class="btn btn-success" type="submit" value="Edit Noodle">
                    </form>
                </div>
            {% endif %}

            <div class="col-xs-1">
                {% url 'update_report_status' report.id 'SP' as spam_link %}
                <form name="spam_report" method="post" action="{{ spam_link }}">
                    {% csrf_token %}
                    <input class="btn btn-success" type="submit" value="Mark Spam">
                </form>
            </div>

            <div class="col-xs-1">
                {% url 'ignore_report' report.id as ignore_link %}
                <form name="ignore_edit" method="post" action="{{ ignore_link }}">
                    {% csrf_token %}
                    <input class="btn btn-warning" type="submit" value="Ignore (Delete Report)">
                </form>
            </div>
            

            {% if report|get_creator %}
                <div class="col-xs-1">
                    {% url 'ban_user' report|get_creator as ban_link %}
                    <form name="ban_creator" method="post" action="{{ ban_link }}">
                        {% csrf_token %}
                        <input class="btn btn-danger" type="submit" onclick="return confirm('Are you sure?')" value="Ban Responsible User">
                    </form>
                </div>
            {% endif %}

            <div class="col-xs-1">
                {% url 'delete_content' report.id as delete_link %}
                <form name="delete_content" method="post" action="{{ delete_link }}">
                    {% csrf_token %}
                    <input class="btn btn-danger" type="submit" onclick="return confirm('Are you sure?')" value="Delete Content">
                </form>
            </div>
        </div> 
    </li>
    {% endfor %}
</ul>
</center>

{% endblock %}
